<!DOCTYPE HTML>
<HTML>
<head>
    <title>Sort-n-Search</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="home.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.min.js"></script>


</head>
<body style="background-color: blanchedalmond">
    <div>
        <h1 align="center">SORT n SEARCH</h1>
    </div>
    <div class="container">
        <form id="formlist" style="text-align: center">
            <select id="myselect" >
                <option value="" selected="selected"></option>
                <option value="sort">Sort</option>
                <option value="search">Search</option>

            </select>




        </form>

        <form name="sort" id="sort" style="display:none" method="post" action="/sort">
            <select id="myselect1">
                <option value="" selected="selected"></option>
                <option value="formlist">Home</option>
                <option value="search">Search</option>

            </select>
            <div>
                Array: <input type="text" name="input"><br>
                <input name="sortType" type="radio" value="insertion" checked>Insertion Sort
                <input name="sortType" type="radio" value="selection">Selection Sort
                <input name="sortType" type="radio" value="merge">Merge Sort
                <input name="sortType" type="radio" value="quick">Quick Sort
                <div>
                    <input type="submit" value="Submit">
                </div>

            </div>

        </form>

        <form name="search" id="search" style="display:none" method="post" action="/search">
            <select id="myselect2">
                <option value="" selected="selected"></option>
                <option value="formlist">Home</option>
                <option value="sort">Sort</option>

            </select>
            <div>
                Array: <input type="text" name="input" placeholder="Enter values seperated by comma"><br>
                Enter the number to Search: <input type="text" name="searchValue"><br>
                <input name="searchType" type="radio" value="linear" checked>Linear Search
                <input name="searchType" type="radio" value="binary">Binary Search
            </div>
            <div>
                <input type="submit" value="Submit">
            </div>

        </form>

        <script>
            $("#myselect").on("change", function() {
                $("#" + $(this).val()).show().siblings().hide();
            })
            $("#myselect1").on("change", function() {
                $("#" + $(this).val()).show().siblings().hide();
            })
            $("#myselect2").on("change", function() {
                $("#" + $(this).val()).show().siblings().hide();
            })
        </script>

    </div>


</body>
</HTML>